.sign-up-name {
  display: flex;
}

.sign-up-name .signup-body-body-container-input {
  margin: 0;
  width: 90%;
}

.sign-up-name :nth-child(1) {
  margin-right: 1rem;
}

input {
  border: 1px solid var(--cyan);
  color: white;
  background: #162031;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container {
  background-color: #162031;
  width: 50vw;
  min-width: 300px;
  padding: 5rem;
  padding-top: 3rem;
  margin-top: 4rem;
}

.signup-body {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.signup-body h2 {
  font-size: 1.8rem;
  color: var(--cyan);
  letter-spacing: 0.1rem;
  font-family: var(--mont);
  font-weight: 500;
}

.signup-body-body-container-input {
  margin: 2rem auto;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.signup-body-body-container-input input {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 5px;
}
.signup-body-body-container-input label {
  color: white;
  margin-bottom: 0.4rem;
  letter-spacing: 0.1rem;
}

.signup-body-body-container-button {
  margin-top: 2rem;
}

.signup-submit-button {
  cursor: pointer;
  padding: 1rem auto;
  width: 100%;
  display: block;
  background: rgba(0, 255, 255, 0.5);
  border: var(--cyan);
  border-radius: 5px;
  padding: 0.7rem 0;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.ask-signup {
  font-weight: 400;
}

.ask-signup a {
  color: var(--cyan);
}

@media screen and (max-width: 1200px) {
  .signup-container {
    width: 80vw;
  }
}

@media screen and (max-width: 800px) {
  .signup-container {
    width: 100vw;
    padding: 3rem;
  }
  .signup-body {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .signup-container {
    padding: 2rem;
    margin-top: 1rem;
  }
  .signup-body {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .sign-up-name {
    display: flex;
    flex-direction: column;
  }

  .sign-up-name .signup-body-body-container-input label {
    margin-top: 2rem;
  }

  .signup-body-body-container-input {
    margin: 2rem 0;
  }

  .sign-up-name .signup-body-body-container-input-password label {
    margin-top: 0;
  }

  .sign-up-name .signup-body-body-container-input {
    width: 100%;
  }
}
