.score-entry-container {
  width: 80vw;
  margin: 0 auto;
  margin-top: 5rem;
}

.score-entry {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-entry span {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--cyan);
  letter-spacing: 0.1rem;
}

.score-entry .score-score,
.score-entry .score-place {
  color: white;
}

.score-entry .score-user {
  padding-right: 50%;
}

@media screen and (max-width: 900px) {
  .score-entry span {
    font-size: 1rem;
  }

  .score-entry .score-user {
    padding-right: 40%;
  }
}

@media screen and (max-width: 650px) {
  .score-entry-container {
    width: 95vw;
  }

  .score-entry .score-user {
    padding-right: 30%;
  }
}

@media screen and (max-width: 460px) {
  .score-entry-container {
    width: 100vw;
  }
}
